.home-div-abt
{
	margin-top: 5%;
	padding: 4%;
	text-align: center !important;
}
.home-div-abt-title
{
	font-size: 2em;
	margin-left: 2%;
	text-align: center;
}
.home-div-abt-vid {
	position: relative;
	padding-top: 30%;
	width: 50%;
	margin: 0px auto;
	margin-top: 4%;
}
.react-player {
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 6px 6px #1ac4bb;
}
.home-p-abt-details
{
	font-size: 1.5em;
	text-align: center;
	margin: 4%;
}
.home-p-abt
{
	font-size: xx-large;
	font-weight: 700;
	padding-right: 2%;
	padding-top: 2%;
	width: fit-content;
	text-align: center;
	margin: 0px auto;
	padding: 4%;
}
.home-p-abt-alt
{
	font-size: xx-large;
	font-weight: 700;
	padding-right: 2%;
	padding-top: 2%;
	width: fit-content;
	text-align: center;
	margin: 0px auto;
	padding: 4%;
}
.home-div-abt-sec
{
	border-bottom: 1px white;
	background-color: #0ec9bf;
	box-shadow: 3px 3px 6px black;
	transition: all 0.6s;
	margin-bottom: 3%;
}
.home-img-abt
{
	background-image: url('../undraw_forming_ideas_0pav.svg');
	background-size: cover;
    background-position: center;
    width: 35%;
	height: auto;
    display: inline-block;
	background-color: #121212;
}
.home-img-abt-2
{
	background-image: url('../Components/undraw_maker_launch_crhe.svg');
	background-size: cover;
    background-position: center;
    width: 35%;
	height: auto;
    display: inline-block;
	background-color: #121212;
}
.home-abt-wrapper
{
	display: flex;
	margin-left: 5%;
	background-color: #121212;
}
.home-abt-wrapper-alt
{
	display: flex;
	margin-right: 5%;
	background-color: #121212;
}
.home-p-content
{
	padding-right: 5%;
	margin: 0px auto;
}
.home-p-content-alt
{
	padding-right: 5%;
	margin: 0px auto;
}
.home-p-content:hover
{
	cursor: copy;
}
.home-div-abt-text
{
	width: 50%;
	background-image: linear-gradient(rgb(8, 117, 180), rgb(80, 41, 255));
	padding: 4%;
	margin: 0px auto;
	text-align: center;
}
.home-div-abt-color
{
	width: 5%;
	background-color: #00ffff;
}
.home-div-abt-slideshow
{
	display: flex !important;
}
.home-div-abt-car-wrapper
{
	background-color: white;
	width: 60%;
	box-shadow: 10px 10px 0px #37d68c;
	margin: 0px auto;
	margin-top: 5%;
	position: static;
}
.home-div-abt-car
{
	background-image: url('https://images.unsplash.com/photo-1570562855402-cec3ca287f25?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80');
	height: 200px;
	width: 100%;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0.4%;
	padding: 2%;
	box-shadow: 7px 7px 7px rgb(31, 49, 207);
}
.home-div-abt-cert
{
	color: rgb(80, 41, 255);
	font-weight: 700;
	font-size: 1.5em;
	margin: 0px auto;
}
.home-div-abt-cert-wrapper
{
	width: 50%;
	margin: 0px auto;
	padding: 3%;
}
.home-div-abt-cert-awarder
{
	font-size: small;
	color: black;
}
.home-div-abt-cert-det
{
	margin: 0px auto;
	font-size: 0.7em;
	color: black;
	padding: 3%;
}
.home-div-abt-car-img-wrapper
{
	background-image: linear-gradient(rgb(8, 117, 180), rgb(80, 41, 255));
	width: 50%;
	height: 100%;
	padding: 6%;
}

@media (max-width:1200px){
	.home-div-abt-cert-det{
		font-size: 0.85em;
	}

	.home-div-abt-title{
		font-size: 2.5em;
	}
}

@media (max-width:980px){
	.home-div-abt-title{
		font-size: 2em;
	}

	.home-p-abt-details{
		font-size: 1.3em;
	}

	.home-div-abt-car-img-wrapper{
		padding: 4%;
	}
}

@media (max-width:828px){
	.home-div-abt-cert{
		font-size: 1em;
	}
	.home-div-abt-cert-awarder{
		font-size: 0.55em;
		font-weight: bolder;
	}
	.home-div-abt-cert-det{
		font-size: 0.8em;
	}
	.home-div-abt-car{
		height: 150px;
	}
}

@media (max-width:790px){
	.home-div-abt-title{
		font-size: 1.5em;
	}
	.home-p-abt-details{
		font-size: 1.1em;
	}
	
	.home-div-abt-cert-awarder{
		font-size: 0.5em;
		font-weight: bold;
	}
	.home-div-abt-cert-det{
		font-size: 0.65em;
		font-weight: 200;
	}
	.home-div-abt-car{
		height: 140px;
	}
}

@media (max-width:720px){
	.home-div-abt-cert-awarder{
		font-size: 0.4em;
	}
}

@media (max-width:650px){
	.home-div-abt-cert-det{
		font-size: 0.6em;
	}

	.home-div-abt-car{
		height: 130px;
	}

	.home-div-abt-cert{
		font-size: 0.9em;
	}

	.home-div-abt-cert-awarder{
		font-size: 0.45em;
	}

	.home-p-content{
		font-size: smaller;
	}

	.home-p-content-alt{
		font-size: smaller;
	
	}
	.home-p-abt-alt{
		font-size: x-large;
	}
	.home-p-abt{
		font-size: x-large;
	}
}

@media (max-width:650px){

	.home-div-abt-title{
		margin-top: 2%;
	}
	.home-div-abt-sec{
		margin-top: 6%;
		margin-bottom: 5%;
	}

	.home-div-abt-car{
		height: 120px;
	}
	
	.home-div-abt-cert-awarder{
		font-size: 0.4em;
	}
}

@media  (max-width:600px){
	.home-div-abt-title{
		font-size: 1.5em;
		margin-top: 6%;
	}
	.home-p-abt-details{
		font-size: 0.9em;
		font-weight: lighter;
		margin: 8.25%;
		padding: 2%;
	}

	.home-div-abt-sec{
		margin-bottom: 10%;
	}

	.home-p-abt-alt{
		font-size: large;
	}

	.home-p-abt{
		font-size: large;
	}

	.home-p-content{
		font-size: x-small;
		padding: 5%;
	}

	.home-p-content-alt{
		font-size: x-small;
		padding: 5%;
	}

	.home-div-abt-cert{
		font-size: 0.9em;
	}

	.home-div-abt-cert-awarder{
		font-size: 0.45em;
	}

	.home-div-abt-cert-det{
		font-size: 0.6em;
		padding: 1%;
		margin: 1%;
		align-items:flex-start;
	}

	.home-img-abt-2{
		width: 55%;
	}

	.home-img-abt{
		width: 55%;
	}

	.home-div-abt-text{
		padding: 0%;
		width: 50%;
	}

	.home-div-abt-slideshow{
		flex-direction:column;
		align-items: center;
	}

	.home-div-abt-car{
		height: 110px;
		padding: 1%;
	}

	.home-div-abt-car-img-wrapper{
		height: 50%;
		width: 55%;
		margin-top: 2%;
	}
}

@media (max-width:560px){
	.home-div-abt-cert-awarder{
		font-size: 0.4em;
	}
}

@media (max-width: 496px){
	.home-div-abt-cert-awarder{
		font-size: 0.35em;
		font-weight: bolder;
	}
	.home-div-abt-cert{
		font-size: 0.85em;
	}
	.home-div-abt-cert-det{
		font-size: 0.55em;
	}
}

@media (max-width:465px){
	.home-div-abt-cert-awarder{
		font-size: 0.05em;
	}
}

@media (max-width: 270px) {
	.home-abt-wrapper{
		font-size: 0.025em;
	}
	.home-div-abt-cert{
		font-size: 0.5em;
	}

	.home-div-abt-cert-det{
		font-size: 0.4em;
	}
}