.blog_container
{   
    overflow-x: hidden;
	font-family: 'DM Sans', sans-serif;
    width: 90%;
    margin: 0 auto;
}
.blog_head_text
{
    font-size: 53px;
    padding: 3%;
    color: #00bec5;
}
.blog_main
{
    color: white;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(0, 24, 59), rgb(0, 43, 122) ,rgb(0, 96, 223));
    margin-bottom: 2%;
    overflow-y: hidden;
    padding-bottom: 3%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.blog_main:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    transform: scale(1.001);
    transition: 0.25s;
}

.blog_main::before
{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    z-index: -1;
    background: linear-gradient(to right, rgb(0, 15, 44), rgb(0, 30, 85) ,rgb(0, 69, 160));
    opacity: 0;
    transition: opacity 0.5s;
}

.blog_main:hover::before
{
    cursor: pointer;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.blog_title
{
    margin-left: 8%;
    text-align: left;
}
.blog_content
{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    height: 60%;
}
.blog_img
{
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.blog_entry
{
    width: 70%;
    padding: 0 2% 0 2%;
}
.blog_para
{
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inner-word;
}
.blog_h3
{
	font-family: 'DM Sans', sans-serif;
}
.blog_vert_line
{
    width: 5px;
    background-color: indigo;
    border-radius: 7px;
}
.blog_post_NavLink
{
    text-decoration: none;
}

.blog_featured
{
    margin: 2% auto;
    margin-bottom: 0;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
}
.blog_featured:hover
{
    transform: scale(1.05)
}
.blog_img_text
{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 2%;
    padding-top: 5%;
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 5px;
}

.blog_img_title
{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 5px;
}

.blog_nav_div
{
    padding: 1%;
    background-color: rgba(44, 44, 44, 0.315);
    margin: 0 auto;
    margin-top: 3%;
}

.blog_nav_li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.blog_nav_link
{
    text-decoration: none;
    font-size: larger;
    color: rgb(190, 190, 190);
}