.post_div_main
{
    min-height: 80vh;
    padding: 3%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(0, 24, 59), rgb(0, 43, 122) ,rgb(0, 96, 223));
    box-shadow: 0px 0px 5px #000;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}
.post_p_content
{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5rem;
}
.post_horizontal_line
{
    height: 2px;
    background: #000;
    border: 1px solid #000;
    border-radius: 7px;
    width: 90%;
    margin: auto;
    color: #000;
    margin-bottom: 6%;
    margin-top: 4%;
}
.post_tags_div
{
    display: flex;
    justify-content: space-around;
    color: rgb(187, 187, 187);
}
.post_h1_title
{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0 !important;
    text-transform: uppercase;
}