.det-div-wrapper
{
	background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8), #121212);
}
.det-div-main
{
	padding-top: 5%;
}
.det-div-tnd
{
	font-size: large;
	display: flex;
	justify-content: center;
	margin-top: 4%;
	flex-wrap: wrap;
}
.det-p-title
{
	margin-top: 0;
	margin-bottom: 1.5%;
	font-size: 60px;
	text-align: center;
}
.det-p-tagline
{
	text-align: center;
	color: #2ff5e8
}
.det-a-btn
{
	display: flex;
	font-size: larger;
	margin: 0px auto;
	margin-top: 3%;
	padding: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 7px;
	width: fit-content;
	background: linear-gradient(to right, rgb(5, 155, 68), rgb(4, 240, 83));
	transition: background 0.5s ease-in-out;
	color: black;
	font-weight: 700;
	text-decoration: none;
}
.det-a-btn-sec
{
	margin: 0;
	margin-top: 1%;
	margin-bottom: 5%;
}
.det-a-btn:hover
{
	cursor: pointer;
	background-position: 130px;
}
.det-a-btn-sec:hover
{
	cursor: pointer;
	background-position: 117px;
}
.det-div-sec
{
	margin-top: 5%;
}
.det-p-subtitle
{
	font-size: xx-large;
}
.det-div-details
{
	margin: 4%;
	padding-left: 13%;
	margin-bottom: 0;
}
.det-div-wrapper-sec
{
	font-size: larger;
}
.det-div-wrapper-sec
{
	margin-bottom: 0;
}
.det-p-place
{
	margin-top: 0;
}
.det-p-time
{
	margin-top: 0%;
	margin-bottom: 4px;
}
.det-p-date
{
	margin-top: 3%;
}

.hidden
{
    display: none;
}

.det-div-questions
{
	color: #2ff5e8;
	margin-top: 3%;
}
.det-div-answer
{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 10%;
}

@media(max-width: 520px)
{
	.det-div-tnd
	{
		font-size: small;
		margin-top: 8%;
	}
	.det-p-title
	{
		font-size: 2.25em;
	}
	.det-div-wrapper-sec
	{
		font-size: 0.8em;
	}
	.det-p-subtitle
	{
		font-size: 1.2em;
	}
}
@media(max-width: 400px)
{
	.det-div-questions
	{
		margin-top: 6%;
	}
}