.footer{
    margin:0%;
}
.foo-div-det
{
    padding: 4%;
    padding-left: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.foo-p-title
{
    font-size: 2rem;
    text-align: center;
}
.foo-div-main
{
    display: flex;
    font-size: 0.9rem;    
    left:0;
    right:0;
    flex-direction: row;
    z-index: 100;
    bottom: 0;
    background-color: #001b29;
}
.foo-div-tm
{
    padding-left: 7%;
    padding-top: 1%;
}
.foot-ul
{
    width:80%;
    padding:1%;
    justify-content: flex-end;
}
.foo-div-map
{
    height: 45%;
    width: 100%;
    box-shadow: 10px 10px #37d68c;
}
.MuiInput-underline
{
    width: 150% !important;
}

.MuiInput-underline:before
{
    border-bottom: 1px solid rgba(255,255,255, 0.8) !important;
    margin-bottom: auto;
}
.MuiFormLabel-root
{
    color: rgba(255,255,255, 0.8) !important;
}
.foo-div-form input
{
    color: rgba(255,255,255, 0.8);
    font-size: large;   
    
}
.MuiInputBase-input
{
    color: rgba(255,255,255, 0.8) !important;
}
.foo-btn-submit
{
    margin-top:20%;
    font-size: large;
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 5px 5px #37d68c;
    width: 100%;
    border-radius: 7px;
    color: #000 !important;
}
.foo-btn-submit:hover
{
    cursor: pointer;
}
.foo-li{
    font-size: 1.2rem;
}
.foo-p-address
{
    font-size: larger;
    text-align: center;
    margin: 0;
}
.foo-div-logos
{
    display: flex;
    justify-content: space-evenly;
}
.foo-p-contact
{
    margin: 0;
}

.foo-div-mapaddress{
    padding: 1%;
}

.foo-div-form{
    padding-left: 10%;
    width: 30%;
}

 .foo-link{
        color: white;
    }

@media (max-width: 880px){
    .foo-div-det{
        flex-direction: column;       
    }

    .foo-div-map{
        box-shadow: 0px 0px #37d68c;
        width:60%;
        margin: auto;
       
    }
    .foo-div-mapaddress{
         display: flex;
        justify-content:space-between;
    }

    .foo-p-address{
        font-size: 1rem;
    }

    .foo-div-logos{
        transform: scale(0.5  );
    }


    .foo-div-form{
        margin: auto;
        width:50%;
        display: flex;
        font-size: 15px;
        padding: 0%;
        padding-left: 10%;
        padding-top: 5%;
    }

    .foo-btn-submit{
        display: flex;
        width: 100%;
    }

    .foo-div-main{
        
        flex-direction:column-reverse;
        text-align: center;
    }
    .foo-div-tm{
        
        padding: 0%;
        margin: 0%;
    }
    .foot-ul{
        
        display:flex;
        justify-content: center;
        width:90%;
        margin: 0px auto;
        padding-top: 2%;
    }
    .Nav-li{
        padding: 0%;        
    }
    .foo-li{
        font-size: 0.9rem;
    }
}

@media (max-width: 560px)
{
    .foo-li{
        font-size: 0.7rem;
    }    
    .foo-p-title{
        font-size: 1rem;
    }
    .foo-div-form{
        padding-left: 20%;
        margin: 0%;
    }
    
    
}

@media (max-width: 460px){
   
   .foo-li{
        font-size: 0.5rem;
    }
   
    .foo-div-form{
        margin: auto;
        display: flex;
        font-size: 10px;
        transform: scale(0.6);
        width:80%;
        padding-top: 0;
        padding-left: 0%;

    }

    .foo-btn-submit{
        display: flex;

    }

    .foo-div-tm{
        
        padding: 0%;
        margin: 0%;
    }
    .foot-ul{
        
        display:flex;
        justify-content: space-evenly;
        width:90%;
    }
    .foo-p-address{
        font-size: 0.7rem;
    }
    
}

@media (max-width: 270px){
    .foo-li{
        font-size: 0.4rem;
    }
    .foo-div-form
    {
        padding-right: 10%;
        margin-left: 0;
    }

}