.home-wrapper
{
	margin-bottom: 4%;
}
.Home-Main-Div
{
	color: rgb(255, 255, 255);
	margin-top: 10vh;
}
.home-div-header
{
	display: block;
	margin-top: 5%;
	text-align: center;
	font-size: 2rem !important;
}
.home-p-title
{
	font-size: 2rem;
}
.home-span-Swayam
{
	color: #37d68c;
	font-size: 3rem !important;
	margin: 0px auto;
	padding-bottom: 2%;
}
.home-span-titledecor
{
	color: #00fdb1;
	font-style: oblique;
}
.home-p-tagline
{
	font-size: 1.6rem;
	color: #fc0b67;
	font-weight: 1000;	
}
.home-div-main
{
	display: flex;
	margin-top: 3.7%;
	justify-content: center;
}
.home-div-sec
{
	background-color: #37d68c;
	height: 10vh;
    width: 28%;
    text-align: center;
    padding-top: 10%;
	border: 5px white;
	margin-right: 2%;
	border: 3px solid whitesmoke;
	margin-left: 2%;
	background-image: url("../media/incubatorbg.svg");
	background-size: contain;
	box-shadow: 0px 5px 10px rgb(5, 5, 5);
	transition: box-shadow 0.5s ease-in-out
}
.home-div-sec-bg{
	background-image: url("../media/eventsbg1.svg");
}
.home-div-ter
{
	text-align: start;
	padding-left: 2%;
	font-size: 1.5rem; 
	padding-bottom: 8%;
	background-color: #040739;
	height: 0.6%;
	width: 75%;
	border: 3px solid white;
	margin-top: 5%;
	margin-left: -4.5%;
}
.home-btn-main
{
	width: 25%;
	height: 5vh;
}
.home-div-sec:hover
{
	box-shadow: 2.5px 2.5px 7.5px lightslategrey;
	cursor: pointer;
}
.home-div-numb
{
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
}
.home-div-wrapicon{
	display: block;
	text-align: center;
}

.home-div-numb-title
{
	font-size: 2rem;
	text-align: center;
	color: #49f73e;
	padding-top: 5%;
	font-weight: bold;
}
.home-div-numb-sec
{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-bottom: 3%;
}
.home-div-caro-title
{
	padding-top: 2%;
	font-size: 2rem;
	text-align: center;
	color: #00ff88;
  padding-top: 2%;
	font-size: 40px;
	text-align: center;
	color: #00ff88;
	font-weight: bold;
}
.home-div-caro
{
	display: flex;
	justify-content: center;
	
}
.home-div-grid-img-1
{
	width: 25vh;
	height: 25vh;
}
.home-div-collage
{
	margin-top: 5%;
	background-color: #37d68c;
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
}
.home-div-collage-title
{
	width: 100%;
	
}
.home-p-collage-title
{
	font-size: 2rem;
	text-align: center;
	color: #2c033f;
	font-weight: bold;
	
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1px;
	grid-auto-rows: minmax(100px, auto);
	width: 100%;
}
.one {
	grid-column: 1;
	grid-row: 1 / 3;
	background-image: url('../Components/Swayam.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5%;
	border: 3px solid white;
}
.two {
	grid-column: 2 / 3;
	grid-row: 1 / 4;
	background-image: url('../media/swayam1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5%;
	border: 3px solid white;
}
.three {
	grid-column: 1;
	grid-row: 3 / 6;
	background-image: url('../media/swayam\ ttribe.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5%;
	border: 3px solid white;
}
.four {
	grid-row: 4 /6;
	background-image: url('../media/design\ thinking.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5%;
	border: 3px solid white;
	width: 50%;
}
.five {
	grid-column: 2;
	grid-row: 4 / 6;
	background-image: url('../media/esummit.JPG');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5%;
	border: 3px solid white;
}
.six {
	grid-column: 3;
	grid-row: 1 / 4;
	background-image: url('../media/eleader.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1.5%;
	border: 3px solid white;
}
.overlay
{
	opacity: 0;
	transition: .5s ease;
	background-color: #37d68c;
	text-align: center;
	height: 100%;
	width: 100%;
}
.text
{
	color: #2c033f;
	font-size: 1.5rem;
	font-weight: 800;
	text-align: center;
	margin: 0;
	padding-top: 20%;
}
.one:hover .overlay
{
	opacity: 1;
	cursor: pointer;
}
.two:hover .overlay
{
	opacity: 1;
	cursor: pointer;
}
.three:hover .overlay
{
	opacity: 1;
	cursor: pointer;
}
.four:hover .overlay
{
	opacity: 1;
	cursor: pointer;
}
.five:hover .overlay
{
	opacity: 1;
	cursor: pointer;
}
.six:hover .overlay
{
	opacity: 1;
	cursor: pointer;
}
.home-div-show-comingsoon
{
	display: none;
}
.home-div-show
{
	background-color: white;
	padding: 4%;
	width: 60%;
	box-shadow: 10px 10px 0px #37d68c;
	margin: 0px auto;
	margin-top: 5%;
	position: static;
	z-index: 110;
}
.home-div-st
{
	padding: 4%;
}
.home-div-show-wrapper, .home-div-show-wrapper-2
{
	display: flex !important;
	font-size: 0.75em;
}
.home-div-show-wrapper-2
{
	border: 5px solid #040739;
	width: 80% !important;
	height: 25vh;
	margin: 5%;
	padding: 4%;
	padding-left: 0%;
	padding-top: 6%;
}
.home-img-avatar, .home-img-avatar-2
{
	background-image: url('https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');
	height: 180px;
	width: 270px;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 10px 10px #37d68c;
	margin: 0.4%;
}

.home-img-avatar-2
{
	height: 300px;
	width: 240px;
	position: relative;
	padding-right: 3%;
	border: 4px solid white;
	margin: 0;
	margin-top: 1%;
	margin-left: -3%;
}
.home-p-show-text
{
	font-weight: 700;
	color: black;
}
.home-div-show-quote
{
	margin-left: 4%;
	height: 60px;
}
.home-p-show-author
{
	font-size: medium;
	font-weight: 700;
	color: #be0000;
}
.home-p-show-title
{
	font-size: small;
	font-weight: normal;
	color: black;
}
.home-div-startups
{
	margin-top: 3%;
}
.slick-dots
{
	width: 100%;
}

.home-div-st
{
	background-color: #37d68c;
}
.home-div-show-details
{
	width: 70%;
	margin-left: 3%;
	color : #0d0538;
	font-size: 1.5em;
	margin-bottom: 1%;
}
.home-div-show-title
{
	font-size: larger;
	font-weight: 700;
}

.home-div-wrapnum1{
	display: flex;
	justify-content: space-around;
}
.home-div-wrapnum2{
	display: flex;
	justify-content: space-around;
}

@media (max-width: 1200px)
{
	.home-img-avatar-2
	{
		zoom: 0.75;
	}
	.home-div-show-wrapper-2
	{
		font-size: x-small;
	}
}

@media (max-width:1100px){
	.home-div-ter{
		margin-top: 15%;
		margin-left: -6%;
		height: 10.5%;
	}
}

@media (max-width:1000px){
	.home-div-ter{
		margin-top: 15%;
		height: 5.75%;
	}
}

@media (max-width: 980px)
{
	.home-div-show-wrapper-2
	{
		font-size: xx-small;
	}
	.home-img-avatar
	{
		width: 100%;
	}
	.home-div-ter{
		height: 11%;
	}
	
}
@media (max-width:910px){
	.home-div-ter{
		font-size: 1.35rem;
		width: 85%;
	}
	.home-div-show-details
	{
		font-size: 1.2em;
	}
}
@media (max-width: 880px)
{
	
	.home-div-show-wrapper-2
	{
		font-size: xx-small;
	}
	.home-div-numb{
		display: flex;

	}
	.home-p-collage-title{
		font-size: 1rem;
	}
	.home-div-wrapicon{
		font-size: 0.8rem;
	}
	.home-span-Swayam{
		font-size: 2rem;
	}
	.home-p-title{
		font-size: 3rem;
	}
	.home-p-tagline{
		font-size: 2rem;
	}
	.home-div-ter{
		font-size: 1.2rem;
		margin-top: 19%;
		margin-left: -3.5%;
		height: 7%;
	}
	.home-div-numb-title{
		padding: 2%;
		padding-top: 5%;
		font-size: 1rem;
	}
	.text{
		font-size: 1rem;
	}
	.home-div-st{
		transform: scale(0.8);
	}
	.home-div-caro-title{
		padding-top: 8%;
	}
}
@media (max-width: 730px)
{
	.home-span-Swayam{
		font-size: 2rem;
	}
	.home-p-title{
		font-size: 2rem;
	}
	.home-p-tagline{
		font-size: 2rem;
	}
	.home-div-caro-title{
		padding-top: 10%;
		font-size: 1rem;
	}
	
	.one{
		grid-column: 1 / 2;
    	grid-row: 1 / 2;
	}
	.two{
		grid-column: 2 / 6;
    	grid-row: 1 / 2;
	}
	.three{
		grid-column: 1 / 6;
    	grid-row: 2 / 3;
	}
	.four{
		grid-column: 1 / 6;
    	grid-row: 4;
		width: auto;
	}
	.five{
		grid-column: 1 / 2;
    	grid-row: 3 / 4;
	}
	.six{
		grid-column: 2 / 6;
    	grid-row: 3 / 4;
	}
	.home-div-show-wrapper-2
	{
		font-size: x-small;
	}
	.home-div-show-wrapper
	{
		display: block !important;
	}
	.home-img-avatar{
		height: 250px;
	}
	.home-div-show-quote
	{
		height: 20px;
		margin: 0;
	}
	.home-div-show-text
	{
		margin-left: 4%;
	}
	.home-div-wrapicon{
		font-size: 0.5rem;
	}
	.home-div-ter{
		margin-top: 25%;
		font-size: 1.2rem;
		height: 11%;
	}
	.home-div-show-details
	{
		font-size: 1em;
	}
}
@media (max-width:665px){
	.home-div-ter{
	    font-size: 1rem;
    	margin-top: 17%;
    	margin-left: -10%;
		border: 1px solid;
	}
}
@media (max-width:540px){
	.home-div-ter{
		margin-top: 29%;
		font-size: 0.9rem;
		border: 1px solid;
	}
	.home-div-show-details
	{
		font-size: 0.8em;
	}
}
@media (max-width: 490px)
{
	.home-span-Swayam{
		font-size: 1rem;
	}
	.home-p-title{
		font-size: 1rem;
	}
	.home-p-tagline{
		font-size: 1rem;
	}
	.home-img-avatar-2
	{
		zoom: 0.75;
	}
	.home-div-show-wrapper-2
	{
		font-size: 0.5em;
	}
	.home-img-avatar{
		height: 200px;
	}
	.home-div-numb{
		display:grid;
		grid-template-columns: repeat(2,1fr);
	}
	.text{
		font-size: 0.8rem;
	}
	.home-div-caro-title{
		font-size: 0.8rem;
	}
	.home-div-ter{
		margin-top: 20%;
    	height: 12%;
    	font-size: 0.8rem;
		border: 1px solid;
	}
	
}
@media (max-width:420px){
	.home-div-ter{
		font-size: x-small;
		margin-top: 27%;
		border: 1.5px solid;
	}
}
@media (max-width:412px){
	.home-div-ter{
		margin-top: 37%;
		height: 2.5%;
	}
}
@media (max-width: 400px)
{
	.home-img-avatar{
		height: 150px;
	}
	.home-p-show-text
	{
		font-size: smaller;
	}
	.home-p-show-author
	{
		font-size: smaller;
	}
	.home-p-show-title
	{
		font-size: smaller;
	}
	.home-div-show-details
	{
		font-size: 0.7em;
		margin-left: 5%;
	}
	.home-div-st
	{
		padding: 3%;
	}
	.text{
		font-size: 0.5rem;
	}
	.home-div-ter{
		font-size: x-small;
		border: 1px solid;
	}
}
@media (max-width:375px){
	/* For iPhone */
	.home-div-ter{
		font-size: 0.7rem;
    	height: 10%;
    	width: 95%;
	}
}
@media (max-width:360px){
	.home-div-ter{
		margin-top: 42%;
		height: 10.5%;
	}
}
@media (max-width:330px){
	.home-div-ter{
		font-size: 0.5rem;
		margin-top: 35%;
		border: 1px solid;
	}
	.home-div-show-details
	{
		font-size: 0.2em;
	}
}
@media (max-width:280px){
	.home-div-ter{
		margin-top: 55%;
	}
}
@media (max-width: 250px)
{
	.home-img-avatar{
		height: 100px;
	}
	.home-div-ter{
		margin-top: 60%;
		font-size: 0.5rem;
	}
}