.Home-Main-Div
{
	color: white;
	margin-top: 3%;
	height: 100vh;
}
.home-div-header
{
	background-color: #121212;
	display: block;
	margin-top: 5%;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}
.home-p-title
{
	
	font-size: 50px;
}
.home-span-Swayam
{
	color: #BB86FC;
	font-size: 60px;
}
.home-span-titledecor
{
	color: #BB86FC;
}
.home-p-tagline
{
	font-size: 35px;
	color: #BB86FC;
}
.home-div-main
{
	display: flex;
	margin-top: 3.7%;
	justify-content: center;
}
.home-div-sec
{
	background-color: rgb(27, 27, 27);
	height: 25vh;
    width: 38%;
    text-align: center;
    padding-top: 10%;
	border: 1px white;
	margin-right: 2%;
	margin-left: 2%;
	box-shadow: 0px 5px 10px rgb(5, 5, 5);
	transition: box-shadow 0.5s ease-in-out
}
.home-div-ter
{
	font-size: xx-large; 
	padding-bottom: 10%;
}
.home-btn-main
{
	width: 25%;
	height: 5vh;
}
.home-div-sec:hover
{
	box-shadow: 2.5px 2.5px 7.5px #a361f3;
	cursor: pointer;
}
.home-div-numb
{
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
}
.home-div-numb-title
{
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	color: #BB86FC;
	padding-top: 4%;
}
.home-div-numb-sec
{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-bottom: 3%;
}
.home-div-caro-title
{
	padding-top: 2%;
	font-size: 40px;
	text-align: center;
	color: #BB86FC;
	font-family: 'Times New Roman', Times, serif;
}
.home-div-caro
{
	display: flex;
	justify-content: center;
	
}
.home-div-abt
{
	margin-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
.home-div-abt-title
{
	font-size: 40px;
	margin-left: 2%;
}
.home-p-abt
{
	font-size: xx-large;
	font-weight: 700;
	color: #BB86FC;
	padding-top: 2%;
}
.home-p-abt-alt
{
	font-size: xx-large;
	font-weight: 700;
	text-align: end;
	padding-right: 2%;
	padding-top: 2%;
	color: #BB86FC;
}
.home-div-abt-sec
{
	border-bottom: 1px white;
	background-color: rgb(27, 27, 27);
	box-shadow: 3px 3px 6px black;
	padding-left: 5%;
	transition: all 0.6s;
}
.home-img-abt
{
	background-image: url('https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
	background-size: cover;
    background-position: center;
	height: 400px;
    width: 45%;
    display: inline-block;
	padding-right: 2.5%;
	margin-bottom: 5%;
}
.home-img-abt-2
{
	background-image: url('https://images.unsplash.com/photo-1512820790803-83ca734da794?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80');
	background-size: cover;
    background-position: center;
	height: 400px;
    width: 45%;
    display: inline-block;
	padding-right: 2.5%;
	margin-bottom: 5%;
}
.home-abt-wrapper
{
	display: flex;
}
.home-p-content
{
	width: 45%;
	padding-left: 5%;
	font-size: larger;
}
.home-p-content-alt
{
	width: 45%;
	padding-right: 5%;
	font-size: larger;
}
.home-p-content:hover
{
	cursor: copy;
}