/* Main Wrapper for Incubator Page */
.inc-div-main {
  padding-top: 2%;
}
/* Style for heading */

.slick-prev:before,
.slick-next:before {
  margin-left: 5%;
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #00ff88;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inc-p-head,
.inc-p-abt-head {
  font-size: 90px;
  font-weight: 500;
  text-align: center;
  text-shadow: 100px;
  margin-bottom: 0;
  color: #00ff88;
}

/* Style for Slide Show */

.slider-wrapper {
  display: -moz-box;
  max-width: 1000px;
  max-height: 500px;
  padding: 35px;
  margin-left: 9.5%;
  margin-right: 5%;
  margin-top: 0;
  /* background-color: white;*/
}

.img-card {
  align-content: center;
  margin-top: 1%;
  border-radius: 4px;
  background: #f5f5f5;
  color: #666;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.img-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.img {
  /* margin-left: 12%; */
  width: 100%;
  align-items: center;
  height: 340px;
  object-fit: cover;
}

.img:hover {
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.card-body {
  padding: 15px;
  background-color: #f5f5f5;
}

.slick-slide *:focus {
  outline: none;
}

.slick-dots li button:before {
  border-radius: 50%;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  margin-bottom: 5%;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  background: #00ff88;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style for About Incubator */

.inc-div-jumbo {
  height: 75%;
  width: 85%;
  margin-left: 5%;
  margin-bottom: 3.5%;
  padding: 1.08%;
  border: 1px;
  background-color: rgb(27, 27, 27);
  box-shadow: 15px 15px 10px rgb(0, 0, 0);
}

.inc-img-abt {
  background-image: url("https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 45%;
  display: inline-block;
  padding-right: 2.5%;
  margin-bottom: 7%;
  margin-left: 1%;
}

.inc-abt-wrapper {
  display: flex;
}
.inc-p-content {
  margin-top: 0.5%;
  width: 45%;
  padding-left: 5%;
}
.inc-p-content-alt {
  width: 45%;
  padding-right: 5%;
}
.inc-p-content:hover {
  cursor: copy;
}

.inc-p-abt-head {
  margin-top: 0;
  font-size: 75px;
  margin-bottom: 2%;
}

.inc-p-abt {
  font-size: xx-large;
}

/* Style for Facility */
.inc-div-facility-wrapper {
  display: flex;
  padding: 1%;
}

.inc-facility {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.inc-div-facility-sec {
  max-width: 25%;
  max-height: 50%;
  display: block;
  float: right;
  margin: 60px auto;
  background-color: #00ff88;
  box-shadow: 15px 15px 10px rgb(0 0 0);
  transition: 0.25s;
  padding: 2.08%;
  margin-right: 2.5%;
  margin-left: 1.5%;
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
}

.inc-div-facility-sec:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.05);
}

.inc-p-facility-content {
  display: inline-block;
  width: 45%;
  padding-left: 1%;
  padding-right: 5%;
}

.inc-p-facility-content:hover {
  cursor: copy;
}
