.inc-div-main
{
	padding-top: 2%;
}
.inc-div-jumbo
{
	height: 70vh;
	margin-bottom: 3.5%;
	border: 1px;
	background-color: rgb(27,27,27);
	box-shadow: 15px 15px 10px rgb(0, 0, 0);
}
.inc-p-head
{
	font-size: xx-large;
}