.Nav-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.Nav-front{
    height:1rem;
    width:2rem;
    padding-left:2%;
}
.Nav-front img{
    height:6rem;
    width:8rem;
    filter: drop-shadow(1px 1px #fff);
}
.Nav-front img:hover{
    transform: translateY(-3%);
}
.Nav-ul-main
{
    display: flex;
    justify-content: flex-end;   
}
.Nav-li
{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0px;
    font-weight: 600;
    padding-right: 1em;
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out
}
.Nav-li:hover
{
    font-weight: 700;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.781);
}
.Nav-Div-Main
{
    color: white;
    height:fit-content;
    top: 0;
    left: 0px;
    width: 100%;
    font-size: large;
}
.selected
{
    font-weight: 800;
}
.selected:hover
{
    font-weight: 800;
    border: 0px;
}
.nav-toggle-main
{
    background-color: #001b29;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2%;
}
.menu-bars
{
    margin-left: 1.5rem;
    font-size: 2rem;
    background: none;
    color: #d5ff45;
}
.toggle-menu-bars
{
    font-size: 1.5rem;
    padding-left: 10px;
    color: #d5ff45;
}
.nav-toggle-title
{
    margin: auto;
    color:#fff;
    padding-bottom:5px;
    font-weight: 600;
}
.nav-menu
{
    background-color: #001b29;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 850ms ease-in-out;
    z-index: 200;
}
.nav-menu.active
{
    left:0;
    transition: 550ms;
}
.nav-text
{
    display: flex;
    justify-content: start;
    align-items:left;

    list-style: none;
    height: 60px;
}
.nav-text a
{
    text-decoration: none;
    color: #d5ff45;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}
.nav-text a:hover
{
    background-color: #83a344;
    color:#fff;
    font-weight: 900;
}
.nav-menu-items
{
    width: 100%;
    padding-inline-start: 0px;
}
.navbar-toggle
{
    background-color: #001b29;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media (max-width:880px){
    .Nav-ul-main{
        padding-right: 1rem;
    }
    .Nav-li{
        padding:1%;
    }
}
@media (max-width: 490px)
{
	.Nav-li{
        font-size: 0.8rem;
    }
}
@media (max-width: 360px)
{
	.Nav-li{
        font-size: 0.65rem;
    }
}
@media (max-width: 250px)
{
	.Nav-li{
        font-size: 0.5rem;
    }
}
@media (max-width: 200px)
{
	.Nav-li{
        font-size: 0.45rem;
    }
}