.container {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #182034;
	background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.header{
	padding: 0.5em 0.5em;
	margin: 2em;
	
}

.departments{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
