
#hire {
  font-family: rosewood-std, sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
  color: aliceblue;
  opacity: 89%;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.line {
  width: 30%;
  height: 1%;
  background-color: #d5ff45;
  position: absolute;
  top: 30%;
  left: 35%;
}

.bulb {
  filter: invert(100%);
  position: absolute;
}
.hexagon-outer {
  position: absolute;
  transform: rotate(45deg);
}
.cards {
  background-color: #d5ff45;
  width: 100%;
  position: absolute;
  top: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  perspective: 1000;
  margin: 0;
  padding: 8rem;
  overflow: hidden;
}

.card {
  position: relative;
  left: 90px;
  width: 300px;
  height: 347px;
  font-family: helvetica, arial, sans-serif;
  color: #d5ff45;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.2s;
  -moz-backface-visibility: hidden;
}
.card.flipped {
  transform: rotateY(180deg);
}

.card.flipped.front {
  z-index: 2;
}

.card.flipped.back {
  z-index: 3;
}

.hexagon {
  position: absolute;
  width: 300px;
  height: 173.21px;
  background-color: #001b29;
  margin: 86.6px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transition: transform 0.5s;
  z-index: 3;
}

.hexagon:hover {
  transform: translateY(-3px);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 43.934px;
}

.hexagon:before {
  top: -106.066px;
}

.hexagon:after {
  bottom: -106.066px;
}

.hexagon.back {
  transform: rotateY(180deg);
  background-color: #001b29;
  color: gray;
  z-index: 2;
}

.card-content {
  text-align: center;
  position: relative;
  z-index: 2;
}
.see-more {
  position: absolute;
  bottom: -75px;
  left: 150px;
  margin-left: -14px;
  font-size: 28px;
  z-index: 2;
  transition: color 0.2s, transform 0.2s;
}

.card:hover .see-more {
  color: #fff;
  transform: rotate(45deg);
}
