@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.Hiringcontainer {
	display: flex;
	flex-direction: column;
	background-color: #121221;
	/* height: 100vh; */
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	margin-top: 2rem;
}
.Hiringheader {
	margin: auto 0;
	position: relative;
	justify-content: flex-start;
	left: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	gap: 0.25em;
	transform: translateX(-50%);
	margin-bottom: 15rem;
}
#hire {
	font-weight: 400;
	font-size: 4em;
	font-style: normal;
	color: #37d68c;
}

.applyButton {
	padding: 0.5em;
	font-size: 1.25em;
	margin-top: 2em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	border-radius: 0.5em;
	font-family: "Caveat", cursive;
	cursor: pointer;
	font-weight: 900;
	color: #37d68c;
	background-color: #001b29;
	border: 0.05em solid #37d68c;
}

.applyButton:hover {
	transform: scale(1.2);
	margin-left: 0.75em;
	margin-right: 0.75em;
}

/* .cards {
	/* background-image:linear-gradient(90deg,#d5ff45,#d5dd45); 
	width: 100%;
	position: absolute;
	top: 65%;
	display: flex;
	/* grid-template-columns: auto auto auto; 
	background-color: #37d68c;
	overflow: hidden;
	left: 0;
	flex-wrap: wrap;
	margin: 0 auto;
	/* padding: 2rem; 
} */

.cards{
	background-color: #37d68c;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 1rem;
}

.Cardsmain {
	/* display: flex; */
	--s: 14em; /* size  */
	--m: 3.25em; /* margin */
	--f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
	background-color: #37d68c;
	/* height: 100vh; */
	/* gap: 30em; */
	/* flex: 3; */
	bottom: 0;
	/* margin-left: 5rem; */
	/* overflow: hidden; */
	flex-basis: 26.333333%;
	gap: 2rem;
	margin-left: 7rem;
}

.cardContainer {
	font-size: 0;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	display: flex;
}

.cardContainer div {
	width: var(--s);
	margin: var(--m);
	height: calc(var(--s) * 1.1547);
	display: inline-block;
	font-size: initial;
	clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
	background: #001b29;
	margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}

.cardContainer div:nth-child(odd) {
	background: #001b29;
	margin: 2em;
}
.cardContainer::before {
	content: "";
	width: calc(var(--s) / 2 + var(--m));
	float: left;
	height: 120%;
	shape-outside: repeating-linear-gradient(
		#001b29 0 calc(var(--f) - 0.188em),
		#001b29 0 var(--f)
	);
}

.cardContainer:hover {
	transform: scale(1.21);
	/* transform: rotateY(180deg); */
}

.content:hover {
	/* transform: translateY(-3px); */
	/* transform: rotateY(-180deg); */
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.deptTitle {
	font-size: 1em;
	margin-top: calc(var(--s) * 0.57735);
	text-align: center;
}

.content h5 {
	font-size: 1em;
	margin-top: calc(var(--s) * 0.57735);
	text-align: center;
}

.hidden {
	display: none;
}