.body{
    background-color : #020823
}


.container {
    /* display:flex; */

    text-align:center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #121212;
    justify-content: center;
    margin-top: 1rem;
}

.container1{
    display: grid;
    justify-content:center;
    text-align:center;
    margin: 0 auto;
    margin-top: 0;
    margin-right : 10rem;
    width: 100%;
   /* margin-left: 10rem; */


    /* max-width: 1320px; */
    /* transform:translateX(-10%);
    transform:translateY(-40%); */
    /* padding-left: 30rem; */
    
}

.container2{
    text-align:center;
    /* margin: 0 auto; */
    display: grid;
    justify-content: center;
    width: 100%;
}

.teamheader{
    
    text-align: center;
    justify-content: center;
    /* padding: top 3rem; */
    padding-top: 3rem;
    color: #fc0b67;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5% 0;
    justify-content: center;
}

.grid2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5% 0;
}

.card {
   overflow-x: hidden;
    padding: 1.25rem;
    /* background: linear-gradient(171.38deg, #F9FBFC 3.36%, #E2EAF5 95.69%); */
    background: #01071d;
    box-shadow: 0px 0px 30px rgb(2 245 231 / 46%);
    border-radius: 20% 3% 20% 3%; 
    text-align: center;
    width:20rem;
    margin-top: 5%;
    margin-bottom: 5%;
   
    }

    


.card_img img {
    margin-top: 0.5rem;
    width: 55%;
    height: 100%;
    border-radius: 50%;
}

.card_body {
    margin-top:0;
    padding: 0px 10px 36px 10px;
	color: #fc0b67;
}

.card_title {
    font-weight: 800;
    text-transform: capitalize;
    color: #6ae997;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.designation {
    font-weight: 700;
    font-size: 1.375rem;
    margin-top: -1rem;
	font-style: oblique;
}

.call_btn {
    margin: 8.75rem 0 2.5;
    position: relative;
    display: inline-block;
    z-index: 99;
    top: -30%;
}

.btn_icon i {
    position: relative;
    font-size: 1.375rem;
    color: #1F83FE;
    transition: all .3s ease-in-out;
}

.btn_icon i:after {
    content: '';
    position: absolute;
    height: 3.438rem;
    width: 3.438rem;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    left: -1.063rem;
    top: -1.125rem;
    z-index: -1;
    transition: all .3s ease-in-out;
}





.link {
    position: fixed;
    background-color: #D12322;
    padding: 1.438rem 2.5rem;
    right: -6.875rem;
    border-radius: 0.313rem;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 1.125rem;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 0.438rem;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

.header{
	color: #fc0b67;
}

@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
    .card{
        margin-bottom: 3.5rem;
        margin-left: 11rem;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 425px) {
    .container {
        padding: 0 1rem;
    }

    .card {
        padding: 12px;
    }

    .card_title {
        font-size: 26px;
    }

    .designation {
        font-size: 18px;
    }

    .call_btn {
        margin: 100px 0 25px;
    }
}

@media (max-width: 420px) {
	.card {
		margin: 0 auto;
        width: 15rem;
        height: 20rem;
        margin-bottom: 3rem;
	}

    .card_title{
        font-size: 1.25rem;
    }

    .designation{
        font-size: 1.25rem;
    }
}
