.container {
    /* display:flex; */

    text-align:center;
    max-width: 1320px;
    padding: 0 2rem;
    margin: 0 auto;
    height: 100%;
    background-color: #121212;
}

.container1{
    text-align:center;
    max-width: 1320px;
    padding-left: 30rem;
    margin: 0 auto;
}

.container2{
    text-align:center;
    max-width: 1320px;
    padding-left: 18rem;
    padding-right: 25rem;
    margin: 0 auto;
}

.header{
    text-align: center;
    justify-content: center;
    padding-top:5rem;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin: 5% 0;
}

.grid2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin: 5% 0;
}

.card {
   /* overflow: hidden; */
    padding: 20px;
    /* background: linear-gradient(171.38deg, #F9FBFC 3.36%, #E2EAF5 95.69%); */
    background: #F8F0E3;
    box-shadow: 0px 0px 20px rgba(227, 235, 246, 0.3);
    border-radius: 10%; 
    text-align: center;
    display: grid;
}

.linkedinlogo{
    height : 24px;
    width : 24px;
    border-radius :20%;
}

.card_img img {
    margin-top: 0.5rem;
    width: 55%;
    height: 100%;
    border-radius: 50%;
}

.card_body {
    margin-top:0;
    padding: 0px 10px 36px 10px;
	color: #fc0b67;
}

.card_title {
    font-weight: 800;
    text-transform: capitalize;
    color: #25262C;
    font-size: 24px;
    padding-bottom: 15px;
}

.designation {
    font-weight: 700;
    font-size: 22px;
    margin-top: -1rem;
	font-style: oblique;
}

.call_btn {
    margin: 140px 0 40px;
    position: relative;
    display: inline-block;
    z-index: 99;
    top: -30%;
}

.btn_icon i {
    position: relative;
    font-size: 22px;
    color: #1F83FE;
    transition: all .3s ease-in-out;
}

.btn_icon i:after {
    content: '';
    position: absolute;
    height: 55px;
    width: 55px;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    left: -17px;
    top: -18px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.circle {
    position: absolute;
    background: radial-gradient(45.14% 45.14% at 50% 50%, #BFDAFF 0%, #BDD9FD 26.59%, #D4E5FF 46.99%, #CCE0FF 71.36%, #A7CCFF 100%);
    box-shadow: 0px 4px 107px rgba(179, 211, 255, 0.5);
    border-radius: 50%;
    left: -46px;
    top: -46px;
    height: 110px;
    width: 110px;
    display: block;
    z-index: -2;
    transition: all .3s ease-in-out;
}

.btn_icon:hover i {
    color: #0050B1;
}


.btn_icon:hover .circle {
    box-shadow: 0px 4px 97px rgba(44, 134, 255, 0.8);
}

.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -110px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}

.header{
	color: #fc0b67;
}

@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
}


@media only screen and (max-width: 425px) {
    .container {
        padding: 0 1rem;
    }

    .card {
        padding: 12px;
    }

    .card_title {
        font-size: 26px;
    }

    .designation {
        font-size: 18px;
    }

    .call_btn {
        margin: 100px 0 25px;
    }
}