body {
	margin: 0;
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
	/* font-family: 'Source Code Pro', monospace; */
	font-family: 'DM Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100%;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
